:root {
    /* Good Blocks */
    --good-block-01-background: #E0F7FA; /* Pale Cyan */
    --good-block-01-border: #B2EBF2; /* Pale Cyan Border */

    --good-block-02-background: #FFEBEE; /* Pale Red */
    --good-block-02-border: #FFCDD2; /* Pale Red Border */

    --good-block-03-background: #E8F5E9; /* Pale Green */
    --good-block-03-border: #C8E6C9; /* Pale Green Border */

    /* Bad Blocks */
    --bad-block-01-background: #BDBDBD; /* Light Grey */
    --bad-block-01-border: #9E9E9E; /* Medium Grey Border */
    --bad-block-01-background-broken: #757575; /* Darker Grey */

    --bad-block-02-background: #BDBDBD; /* Light Grey */
    --bad-block-02-border: #9E9E9E; /* Medium Grey Border */
    --bad-block-02-background-broken: #757575; /* Darker Grey */

    /* Super Good Blocks */
    --really-good-block-01-background: #FFEE58; /* Bright Yellow */
    --really-good-block-01-border: #FFEB3B; /* Bright Yellow Border */

    --really-good-block-02-background: #FF4081; /* Bright Pink */
    --really-good-block-02-border: #F50057; /* Bright Pink Border */

    /* Super Bad Blocks */
    --really-bad-block-01-background: #616161; /* Dark Grey */
    --really-bad-block-01-border: #424242; /* Darker Grey Border */

    --really-bad-block-02-background: #757575; /* Medium Dark Grey */
    --really-bad-block-02-border: #616161; /* Dark Grey Border */
}


/* the game board */
.game-wrapper {
    font-family: monospace;
    width: 58rem;
    margin: auto;
    border-left: .3rem black solid;
    border-right: .3rem black solid;
}
.game-top {
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: 1.6rem;
}
.row {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}
/* maybe use vh */
.kitchen {
    height: 22rem;
    /* trying this */
    display: flex;
}
.living-room {
    width: 100%;
}
.paddle {
    height: 1rem;
    background-color: black;
    width: 15%;
    margin-right: auto;
    border-radius: .2rem;
}
.ball {
    height: 2rem;
    width: 2rem;
    /* 0 to 97 - controlled by marginLeft*/
    margin-left: 97%;
    margin-right: auto;
    border-radius: 50%;
    background-color: black;
}
.ball-holder {
    margin-top: auto;
    /* do height in rem 0 - 22 */
    /* minus numbers go below paddle like -15rem */
    /* maybe 15 rem per second */
    margin-bottom:-10rem;
    width: 100%;
}

/* blocks */
.good-01 {
    background-color: var(--good-block-01-background);
    border: solid .2rem var(--good-block-01-border);
}
.good-02 {
    background-color: var(--good-block-02-background);
    border: solid .2rem var(--good-block-02-border);
}
.good-03 {
    background-color: var(--good-block-03-background);
    border: solid .2rem var(--good-block-03-border);
}
.bad-01 {
    background-color: var(--bad-block-01-background);
    border: solid .2rem var(--bad-block-01-border);
}
.bad-01-broken {
    background-color: var(--bad-block-01-background-broken);
    border: solid .2rem var(--bad-block-01-border);
}
.bad-02 {
    background-color: var(--bad-block-02-background);
    border: solid .2rem var(--bad-block-02-border);
}
.bad-02-broken {
    background-color: var(--bad-block-02-background-broken);
    border: solid .2rem var(--bad-block-02-border);
}
.really-good-01 {
    background-color: var(--really-good-block-01-background);
    border: solid .2rem var(--really-good-block-01-border);
}
.really-good-02 {
    background-color: var(--really-good-block-02-background);
    border: solid .2rem var(--really-good-block-02-border);
}
.really-bad-01 {
    background-color: var(--really-bad-block-01-background);
    border: solid .2rem var(--really-bad-block-01-border);
}
.really-bad-02 {
    background-color: var(--really-bad-block-02-background);
    border: solid .2rem var(--really-bad-block-02-border);
}
  